
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulário do Quintino</title>
</head>
<body>
    <div>
        <!-- começar aqui o meu Formulário crtl + k, ctrl + c -->
        @* este comentario nao
            é visivel para o utilzador, apenas p/ o servidor*@
        <h2> O meu Formulário...de TI2!</h2>

        @* formulario para receber os meus dados...*@
        <!-- Utilizar o metodo POST no HTTP,
            porque passa escondido, nao apresenta o comando -->
        <form method="post">

            <!-- o ID serve p utilizar do lado do cliente, com javascript, css, etc... -->
            Qual o seu nome? <input type="text" maxlength="20" name="nome" required="required" /> <br />

            <!--deve-se especificar o campo de numerico como number - só para inteiro-->
            Qual é a sua idade? <input type="number" maxlength="3" name="idade" required="required" max="120" min="1" />
            <br />
            <br />
            <input type="submit" value="Enviar os dados para o servidor" />

        </form>

        @if (ViewBag.Resposta != ""){
            // este IF garante que o ALERT apenas aparece se a 'resposta' tiver algum conteúdo
            <text>
                <script>
                    // para o razor interpretar nao como string mas como objeto do saco
                    // e eu quero saber o seu conteudo
                    alert("@ViewBag.Resposta");
                </script>
            </text>
        }

    </div>
</body>
</html>
