
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulário do Quintino</title>
</head>
<body>
    <div>
        <!-- começar aqui o meu Formulário
            crtl + k, ctrl + c , para comentar linhas-->

        @* este comentario nao
            é visivel para o utilzador, apenas p/ o servidor*@

        <h2> O meu formulário...de TI2!</h2>

        @* formulario para receber os meus dados...*@
        <!-- Utilizar o metodo POST no HTTP,
        porque passa escondido, nao apresenta o comando -->
        <form method="post">

            <!-- o ID serve p utilizar do lado do cliente, com javascript, css, etc... 
                neste caso não é necessário -->
            Qual o seu nome? <input type="text"
                                    maxlength="20"
                                    name="nome"
                                    required="required" />
            <br />

            <!--deve-se especificar o campo de numerico como number - só qd é um inteiro-->
            Qual é a sua idade? <input type="number"
                                       maxlength="3"
                                       name="idade"
                                       required="required"
                                       max="120"
                                       min="1" />
            <br />
            <br />
            <input type="submit" value="Enviar os dados para o servidor" />
            <!-- <button>Enviar formulário</button> -->
            <!-- <input type="submit" value="Enviar formulário" /> -->

        </form>

        @if (ViewBag.Resposta != ""){
            // este IF garante que o ALERT apenas aparece se a 'resposta' tiver algum conteúdo
            <text>
                <script>
                    // para o razor interpretar, nao como string mas como objeto que esta no saco
                    // e eu quero saber o seu conteudo
                    alert("@ViewBag.Resposta");
                </script>
            </text>
        }

    </div>
    <h4>©2019 by Quintino@ipt_20.03.2019</h4>
</body>
</html>
